body{
    margin: 0;
    background-color: rgb(53, 51, 192);
}

header{
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    top: 0;


}

.bild_header{
    background-image: url(../../psd/header_mobil_375x270.jpg);
    height: 270px;
}

#bild1{
    background-image: url(../../psd/bild1_mobil_204x204.jpg)
}

#bild_contact{
    background-image: url(../../psd/bild_con_204x204.jpg)
}

#bild2{
    background-image: url(../../psd/mobil_bild2_204x204.jpg)
}

ul{
    margin: 15px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: black;
    text-decoration: none;

}

.main{
    background-color: white;
    width: 70%;
    margin: auto;
    padding-bottom: 70px;
    border-style: solid;
    
    
}

.main_contact{
    background-color: white;
    width: 70%;
    margin: auto;
    padding-bottom: 70px;
    border-style: solid;
}

.main_company{
    background-color: white;
    width: 70%;
    margin: auto;
    padding-bottom: 70px;
    border-style: solid;
}

.main_history{
    background-color: white;
    width: 70%;
    margin: auto;
    padding-bottom: 70px;
    border-top-style: solid;
}

.text{
    width: 200px;
    height: 250px;
    margin: auto;

}

.text_company{
    width: 200px;
    margin: auto;
    padding-bottom: 40px;
    
}


h3{
    visibility: hidden;
}

#text_history h3{
    visibility: visible;
}

#text_comp2{
    padding-top: 40px;
}

#bild_service{
    background-image: url(../../psd/mobil_bild3_204x204.jpg)
}

#bild_service2{
    background-image: url(../../psd/mobil_bild4_204x204.jpg)
}


#text_history{
    width: 200px;
    margin: auto;
    
}

.bild{
    width: 200px;
    height: 200px;
    margin: auto;
    border-style: solid;

}


i.material-icons{
    font-size: 50px;
    
}

.footer{
    width: 100%;
    height: 200px;
    background-color: white;
}

a:hover{
    font-weight:bold;
  
}
.menu{
    margin-left: 10px;
}

.nav{
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    top: 0;
    left: -100%;
    transition: 0.7s;
    position: fixed;


}

.activate{
    left: 0;
}

.sok{
    margin-right: 10px;
}

.sok_icon{
    visibility: hidden;
}

#sok_icon{
    visibility: hidden;
}

.kryss{
    margin-left: 10px;
}


.logo{
    background-color: black;
    width: 70px;
    height: 50px;
    margin: auto;
    
    
}

#synlig{
    visibility: hidden;
}

li{
    visibility: visible;
}

h2{
    font-size: 23px;
    text-align: center;
    margin-right: 17px;
    margin-left: 17px;
}

.bild_header li{
    visibility: hidden;
}

h5{
    visibility: hidden;
}

h4{
    margin: 5px;
}

.text_footer{
    padding-top: 20px;
    padding-left: 50px;
}

.nav_products{
    visibility: hidden;
}

.nav_products li{
    visibility: hidden;
}

.nav_about li{
    visibility: hidden;
}


@media only screen and (min-device-width: 1024px){
    
    header{
        height: 150px;
        position: unset;
        background-image: url(../../psd/header_webb.1264x150.jpg)
    }

    h2{
        position: absolute;
        color: black;
        font-size: 70px;
        visibility: visible;
        text-align: center;
        margin: 0;
        left: 270px;
        top: 20px;
    }
    
    .bild_header{
        background-color: white;
        height: 60px; 
        left: 0;
        justify-content: center;
        display: flex;
        
        
    }
    
    li{
        overflow: hidden;
        list-style: none;
        display: block;
        padding: 16px 40px 16px 40px;
        font-size: 30px;
        visibility: visible;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }

    p{
        font-size: 20px;
    }

    h5{
        font-size: 30px;
        margin: auto;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    .main_company{
        height: 1200px;
        display: grid;
        border-style: solid;
        grid-template-columns:  100px auto 50px auto 100px;
        grid-template-rows: 60px auto auto;
        grid-template-areas: 
        "nav nav nav nav nav"
        ". text_comp1 . bild_comp1 ."
        ". bild_comp2 . text_comp2 ."
        
    }

    .main_history{
        height: 800px;
        display: grid;
        border-style: solid;
        grid-template-columns: 200px auto 200px;
        grid-template-rows: 60px 500px auto;
        grid-template-areas: 
        " nav nav nav"
        ". text_history ."
        ". bild_history ."

    }


    #text_history{
        grid-area: text_history;
        
        
    }

    .text_history p{
        width: 484px;
        position: relative;
        right: 140px;
        
    } 

    

    #bild_history{
        grid-area: bild_history;
        border-style: solid;
    }

    .main{
        height: 450px;
        display: grid;
        border-style: solid;
        grid-template-columns: 100px auto 50px auto 100px;
        grid-template-rows: 60px auto auto;
        grid-template-areas:
        "nav nav nav nav nav"
        ". text1 . bild ."
        ". text1 . bild ."
    }

    .main_contact{
        height: 600px;
        display: grid;
        border-style: solid;
        grid-template-columns: 100px auto 50px auto 100px;
        grid-template-rows: 60px auto;
        grid-template-areas:
        "nav nav nav nav nav"
        ". text1 . bild ."

    }

    #text_comp1{
        grid-area: text_comp1;
        width: 250px;
        padding: 0;
        margin-top: 80px;
    }

    #bild1{
        grid-area: bild_comp1;
    }

    #text_comp2{
        grid-area: text_comp2;
        width: 250px;
        padding: 0;
        margin-top: 80px;
    }

    #bild2{
        grid-area: bild_comp2;
        
    }

    #bild_contact{
        width: 300px;
        height: 320px;
        background-image: url(../../psd/bild_con_300x320.jpg)
    }

    .nav_about{
        background-color: lightgray;
        grid-area: nav;
        position: relative;
        border-bottom-style: solid;
        left: -2000px;
        
        
    }

    .about_nav{
        background-color: lightgray;
        width: 150px;
        height: 60px;
        left: 350px;
        padding-bottom: 5px;
        text-align: center;
        position: absolute;
        overflow: hidden;
        left: -2000px;
    }

    .nav_products{
        background-color: lightgray;
        grid-area: nav;
        visibility: visible;
        border-bottom-style: solid;
        position: relative;
        left: -2000px;

    }

    .activate_about{
        left: 0;
    }

    .text{
        grid-area: text1;
        width: 250px;
        padding: 0;

    }

    i#pil_icon.material-icons{
        margin-bottom: 30px;
        position: relative;
        bottom: 10px;
    }

    .bild{
        width: 230px;
        height: 300px; 
        margin-top: 100px;
        grid-area: bild;
        
    }

    #bild1{
        background-image: url(../../psd/test.jpg)
    }

    #bild2{
        background-image: url(../../psd/prop_230x300.jpg)
    }
    
    #ta_bort{
        visibility: hidden;
        
    }

    #bild_history{
        background-image: url(../../psd/bot_484x240.jpg)
    }

    #bild_service{
        background-image: url(../../psd/bild_230x300.jpg);
        grid-area: bild_comp1;
    }

    #bild_service2{
        background-image: url(../../psd/bild_prop_230x300.jpg);
        grid-area: bild_comp2;
    }


    
    #pil_icon{
        visibility: visible;
        margin-right: 260px;
        margin-bottom: 20px;
    }

    #sok_icon{
        visibility: visible;
        margin-left: 260px;
        position: relative;
        bottom: 10px;
    }
    
    
    .logo{
        width: 150px;
        height: 100px;
        margin-right: 35px;
        
    }

    h4{
        margin: 5px;
    }

    .footer{
        display: grid;
        grid-template-columns: 187px 300px auto 200px;
        grid-template-rows: 50px auto;
        grid-template-areas: 
        ". . . . ."
        ". logo . text_fo ."
    }
    
    .logo_footer{
        width: 200px;
        height: 114px;
        background-image: url(../../psd/logo_footer_200x114.jpg);
        grid-area: logo;
        
        
    }

    .text_footer{
        width: 300px;
        height: 130px;
        grid-area: text_fo;
    }

    
    .bild_header li{
        visibility: visible;
        position: relative;
        bottom: 7px;
    }

    .nav_about ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;

    }

    .nav_about li{
        float: left;
        position: relative;
        bottom: 7px;
        left: 220px;
    }

    .nav_products li{
        float: left;
        position: relative;
        bottom: 7px;
        left: 140px;
    }

    .nav_about li a{
        display: inline-block;
        text-align: center;
        visibility: visible;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }

    .nav_products li a{
        display: block;
        text-align: center;
        visibility: visible;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    .rubrik{
        text-align: center;
    }


    .activate_about{
        left: 0;
    }

    .activate_products{
        left: 0;
    }

    h3{
        visibility: visible;
    }




    
}