body{
    /* height: 100vh; */
    margin: 0;
    background-color: rgb(38, 35, 211);
}

header{
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    top: 0;


}

.bild_header{
    background-color: lightblue;
    /* width: 100%; */
    height: 270px;


}

ul{
    margin: 15px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: black;
    text-decoration: none;

}

.main{
    background-color: white;
    width: 70%;
    margin: auto;
    padding-bottom: 70px;
    /* height: 100vh; */
    
}

.main_company{
    background-color: white;
    width: 70%;
    margin: auto;
    padding-bottom: 70px;
}

.text{
    width: 200px;
    height: 250px;
    margin: auto;
    padding-top: 40px;

}

.text_company{
    width: 200px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: lightskyblue; */
}


.bild{
    width: 200px;
    height: 200px;
    margin: auto;
    /* background-color: blue; */
    border-style: solid;

}

/* #bild2{
    margin-bottom: 40px;
} */

i.material-icons{
    font-size: 50px;
    
}

.footer{
    width: 100%;
    height: 200px;
    background-color: white;
    border-style: solid;
}

.menu{
    margin-left: 10px;
}

.nav{
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    top: 0;
    left: -100%;
    transition: 0.7s;
    position: fixed;


}

.activate{
    left: 0;
}

.sok{
    margin-right: 10px;
}

.sok_icon{
    visibility: hidden;
}

#sok_icon{
    visibility: hidden;
}

.kryss{
    margin-left: 10px;
}


.logo{
    background-color: black;
    width: 70px;
    height: 50px;
    margin: auto;
    
    
}

#synlig{
    visibility: hidden;
}

li{
    visibility: visible;
}

h2{
    visibility: hidden;
}

.bild_header li{
    visibility: hidden;
}


@media only screen and (min-device-width: 1024px){
    
    header{
        height: 150px;
        position: unset;
        background-image: url(../../psd/header_webb.1264x150.jpg)
    }
    
    .bild_header{
        background-color: white;
        border-style: solid;
        /* width: 100%; */
        height: 60px; 
        left: 0;
        justify-content: center;
        display: flex;
        
    }
    
    li{
        overflow: hidden;
        list-style: none;
        display: block;
        padding: 16px 40px 16px 40px;
        font-size: 30px;
        visibility: visible;
        
    }

    p{
        font-size: 20px;
    }

    .main_company{
        height: 1000px;
        display: grid;
        grid-template-columns: 100px auto 50px auto 100px;
        grid-template-rows: auto auto;
        grid-template-areas: 
        ". text_comp1 . bild_comp1 ."
        ". bild_comp2 . text_comp2 ."
        
    }

    .main{
        height: 450px;
        display: grid;
        grid-template-columns: 100px auto 50px auto 100px;
        grid-template-rows: auto auto;
        grid-template-areas:
        /* ". . . . ." */
        ". text1 . bild ."
        ". text1 . bild ."
    }

    #text_comp1{
        grid-area: text_comp1;
        width: 250px;
        padding: 0;
        margin-top: 80px;
    }

    #bild1{
        grid-area: bild_comp1;
    }

    #text_comp2{
        grid-area: text_comp2;
        width: 250px;
        padding: 0;
        margin-top: 80px;

    }

    #bild2{
        grid-area: bild_comp2;
        
    }



    .text{
        grid-area: text1;
        width: 250px;
        padding: 0;
        /* height: 400px; */

    }

    i#pil_icon.material-icons{
        margin-bottom: 30px;
    }

    .bild{
        width: 230px;
        height: 300px; 
        margin-top: 100px;
        grid-area: bild;
        
    }
    
    #ta_bort{
        visibility: hidden;
        
    }
    
    #pil_icon{
        visibility: visible;
        margin-right: 260px;
        margin-bottom: 20px;
    }

    #sok_icon{
        visibility: visible;
        margin-left: 260px;
    }
    
    
    .logo{
        width: 150px;
        height: 100px;
        margin-right: 35px;
        
    }

    .footer{
        display: grid;
        grid-template-columns: 187px 300px auto 200px;
        grid-template-rows: 50px auto;
        grid-template-areas: 
        ". . . . ."
        ". logo . text_fo ."
    }
    
    .logo_footer{
        width: 170px;
        height: 130px;
        background-color: black;
        grid-area: logo;
        /* margin-right: 35px; */
        
    }

    .text_footer{
        width: 300px;
        height: 130px;
        background-color: blue;
        grid-area: text_fo;
    }

    
    .bild_header li{
        visibility: visible;
    }

    
    

    .rubrik{
        text-align: center;
    }

    .dropmenu{
        height: 70px;
        width: 70%;
        background-color: gray;
        margin: auto;
        left: -100%;


    }

    .activate_about{
        left: 0;
    }

    /* .dropdown_about{
        position: relative;
        display: inline-block;
    }

    .dropdown_text{
        display: none;
        position: absolute;
        background-color: lightgray;
        min-width: 160px;
        z-index: 1;
    }

    .dropdown_text a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown_text a:hover{
        background-color: green;
    }

    .drapdown_about:hover.dropdown_text{
        display: block;
    } */



    
}